<div class="member-info">
    <div class="info-section" ng-click="toggleForm()">
        <img class="member-avatar" src="images/yeoman.png" ng-src="{{member.photoUrl}}" />
        <div class="member-name">{{member.username}}</div>
        <div class="member-email">{{member.email}}</div>
    </div>

    <form class="feedback-form" ng-submit="submitFeedback()" ng-show="fromVisible">
        <label>
            <span>Feedback:</span>
            <textarea name="feedback" cols="30" rows="10" ng-model="feedback.message"></textarea>
        </label>
        <label>
            <span>Post anonymously:</span>
            <input type="checkbox" ng-model="feedback.anonymous">
        </label>
        <input type="submit" value="Submit">
    </form>
</div>