$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
    display: none;
    color: #777;
    position: fixed;
    bottom: 0;
    right: 0;
    // width: 100%;
    // background: rebeccapurple;
    height: 20px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


body {
    overflow-x: hidden;
    font-family: 'roboto';
    padding: 0;
}

.section > [class^="col-"], .section > [class^=" col-"] {
  padding-right: 40px;
  padding-left: 40px;
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    max-height: 200px;
    max-width: 200px;
}

.close-button {
    cursor: pointer;
    padding: 10px 0;
}

a:hover, a:focus {
    opacity: 1;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    &.invert {
        color: #000000;
    }
}

.button-text {
    font-size: 18px;
    opacity: 0.6;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px 0;
    cursor: pointer;
    &.invert {
        color: #000000;
    }
    &.active {
        opacity: 1;
    }
    &:hover {
        opacity: 1;
    }
}

.fa-quote-left {
    margin-right: 1em !important;
}
.fa-quote-right {
    margin-left: 1em !important;
}

.panel {
    border-radius: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    .panel-heading {
        padding: 15px 30px;
        border-bottom: 1px solid #e5e5e5;
        border: none;
    }
    .panel-body {
        padding: 15px 30px;
    }
    .panel-footer {
        padding: 16px 30px 14px;
        background-color: unset;
        border: none;
    }
}

.seo-text {
    color: #ffffff;
    opacity: 0.8;
    h3 {
        text-transform: uppercase;
    }
    p {
        text-align: justify;
    }
}

// Custom checkboxes ------------------------------------------------------------------------------------------------
input[type=checkbox] { display:none; }
input[type=checkbox] + span:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + span:before { 
    content: "\f096";
    width: 30px;
}

input[type=checkbox]:checked + span:before {
    content: "\f046";
}

// Navigation ------------------------------------------------------------------------------------------------
.nav > li > a:hover, .nav > li > a:focus {
    // opacity: 0.8;
    background-color: unset; 
}
.navbar  {
    background-color: unset;
    border: none;
    text-transform: uppercase;
    // font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin: 20px 0 60px 0;

    .login-toggle {
        display: inline-block;
        + .profile-pic {
            height: 40px;
            width: 40px;
            margin-top: -2px;
        }
    }
}

// Background ------------------------------------------------------------------------------------------------
#background {
    background-color: gray;

    position: fixed; 
    top: -30%; 
    left: -45%; 
    width: 200%; 
    height: 200%;

    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    transition: left 0.5s;

    &.slide-0 {
        left: -44%;
    }
    &.slide-1 {
        left: -47%;
    }
    &.slide-2 {
        left: -50%;
    }
    &.slide-3 {
        left: -53%;
    }
    &.slide-4 {
        left: -56%;
    }

    img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
    }
}


.loading-spinner {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 

    &:before {
        content: '';
        position: absolute;
        width: 100%; 
        height: 100%;
        opacity: 0.7; 
        background: #000000;
    }

    .actual-spinner {
        color: #ffffff;
        align-self: center;
    }
}

// Greeting ------------------------------------------------------------------------------------------------
.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px 0;
    .profile-pic {
        width: initial;
        height: initial;
    }
    .greeting-text {
        font-size: 44px;
        color: #ffffff;
        font-family: 'open sans';
        margin: 40px 0;
    }
}


// Feedback panel ------------------------------------------------------------------------------------------------
.feedback-panel {
    &.archived {
        opacity: 0.8;
    }
    .panel-heading {
        padding: 15px 30px 0px;
        .poster-photo {
            .profile-pic {
                height: 25px;
                width: 25px;
            }
        }
        .poster-name {
            padding-left: 10px;
        }
    }
    .panel-body {
        padding: 30px 30px 30px;
        font-size: 18px;
        font-style: italic;
    }
    .panel-footer {
        padding: 0px 30px 6px;
        .poster-photo {
            .profile-pic {
                height: 25px;
                width: 25px;
            }
        }
        .poster-name {
            padding-left: 10px;
        }
        
        .actions {
            vertical-align: middle;
            line-height: 25px;
            label {
                cursor: pointer;
            }
            input[type=checkbox] + span:before {
                // font-family: inherit;
            }
            
            input[type=checkbox] + span:before { 
                content: "\f00c";
                // content: "Archive";
                opacity: 0.5;
                font-size: 18px;
                font-weight: normal;
                text-align: end;
                // width: inherit;
            }

            input[type=checkbox]:checked + span:before {
                // content: "Archived";
                color: limegreen;
                opacity: 1;
            }

            > div {
                display: inline-block;

                &.remove {
                    padding-left: 20px;
                }
            }
        }
    }
}


// login area ------------------------------------------------------------------------------------------------
.login-page {
    height: 100vh;
    .seo-text {
        position: absolute;
        bottom: 25px;
    }
    .login-area {
        height: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .profile-pic {
            width: 60px;
            height: 60px;
        }
        .button-text {
            padding-left: 25px;
        }
    }
}




// Member info section ------------------------------------------------------------------------------------------------
.info-section {
    > div {
        height: 55px;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }

    .profile-pic-container {
        float: left;
        .profile-pic {
            height: 55px;
            width: 55px;
        }
    }

    .member-info-container {
        flex-direction: column;
        padding-left: 20px;

        .member-name {
            text-transform: uppercase;
        }
        .member-email {
            opacity: 0.6;
        }
    }
    
    
}

// Members ------------------------------------------------------------------------------------------------
.member-info {
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0 !important;
    margin: 5px 0;

    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .info-section {
        > div {
            cursor: pointer;
            color: #ffffff;
        }
    }
}

// Feedback form ------------------------------------------------------------------------------------------------
.feedback-form-container {
    .overlay {
        content: '';
        background: black;
        opacity: 0.8;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .feedback-form {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        height: 50%;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 10px;
        .panel {
            border-radius: 0;
            background-color: #ffffff;
            color: #000000;
            .panel-heading {
                padding: 15px 30px;
                border-bottom: 1px solid #e5e5e5;
                .info-section {
                    .member-info-container {
                        padding-left: 30px;
                        .member-name {
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .panel-body {
                padding: 15px 30px;
                textarea {
                    border: none;
                    width: 100%; 
                    font-size: 16px;
                    outline: none;
                }
            }
            .panel-footer {
                padding: 16px 30px 14px;
                background-color: unset;
                border-top: 1px solid #e5e5e5;
            }
        }
    }
}


.main-content {
    position: relative;

    &.ng-enter, &.ng-leave {
        -webkit-transition:all 0.5s ease-in-out;
        -moz-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
    }
    &.ng-enter {
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        opacity: 1;
    }
    &.ng-leave-active {
        opacity: 0;
    }

    .app-view {
        position: absolute;
        width: 100%;
        left: 0;

        &.ng-enter, &.ng-leave {
            -webkit-transition:all 0.1s ease-in-out;
            -moz-transition:all 0.1s ease-in-out;
            transition:all 0.1s ease-in-out;
        }
        &.ng-enter {
            left: 100%;
        }
        &.ng-enter-active {
            left: 0;
        }
        &.ng-leave {
            left: 0;
        }
        &.ng-leave-active {
            left: -100%;
        }
    }

    &.back {
        > .ng-enter {
            left: -100%;
        }
        > .ng-enter-active {
            left: 0;
        }
        > .ng-leave {
            left: 0;
        }
        > .ng-leave-active {
            left: 100%;
        }
    }
}

.leave-feedback {
    .list-group {
        width: 100%;
        float: left;
        border-left: 5px solid rgba(255, 255, 255, 0.6);
        margin-left: 2px;
        padding-right: 2px;
        .list-group-item:first-child {
            margin-top: 0;
        }
    }
}
