<div class="feedback-form-container" ng-show="fromVisible">
    <div class="overlay"></div>
    <div class="feedback-form col-xs-12 col-sm-10 col-md-8">
        <form class="panel panel-default" ng-submit="submitFeedback()">
            <div class="panel-heading">
                <div class="pull-left">
                    <img class="profile-pic" src="images/yeoman.png" ng-src="{{receiver.photoURL}}" />
                    <div class="member-name">{{receiver.displayName}}</div>
                </div>
                <div class="pull-right">
                    <div class="close-button" ng-click="closeForm()">close this pls</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <textarea name="feedback" cols="30" rows="10" ng-model="feedback.message" placeholder="Type your message..."></textarea>
            </div>
            <div class="panel-footer">
                <div class="pull-left">
                    <label>
                <span>Post anonymously:</span>
                <input type="checkbox" ng-model="feedback.anonymous">
            </label>
                </div>
                <div class="pull-right">
                    <input type="submit" value="Submit">
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>