<div class="row">
    <div class="section">
        <div class="greeting col-sm-12">
            <!-- Greeting -->
            <img class="profile-pic" ng-src="{{mainCtrl.photoURL}}" alt="profile picture" ng-if="mainCtrl.photoURL">
            <span class="greeting-text col-sm-12">{{mainCtrl.greeting}}</span>
        </div>
    </div>


    <!-- TODO: Company feedback -->

</div>

<div class="loading-spinner" ng-show="mainCtrl.loading">
    <div class="actual-spinner">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>