<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br> Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


<!--attempt at groups -->
<!--<div class="group-select" ng-controller="GroupController as groupCtrl">
    <form ng-submit="groupCtrl.checkGroupName()">
        <h3>Please enter your group key or create a new group</h3>
        <input type="text" class="group-key" ng-model="groupCtrl.groupKey">
        <button type="submit">check group</button>
    </form>


    {{groupCtrl.groupKey}}
</div>-->

<!-- Feedback List -->
<div ng-repeat="(key, value) in mainCtrl.feedbackReceived">
    {{value.message}}
</div>

<!-- User List-->
<!--<form class="form-inline">
    <input ng-model="query" type="text" placeholder="Filter by" autofocus>
    <member-info member="member" ng-repeat="member in mainCtrl.members | filterObject:'username':query"></member-info>
</form>-->

<member-filter>
    <member-info member="member" ng-repeat="member in mainCtrl.members | filterObject:'username':query"></member-info>
</member-filter>