<div class="row">
    <!-- Member list -->
    <div class="section">
        <div class="col-sm-6 col-md-3">
            <!-- User List-->
            <h3>Feedback for your colleagues</h3>
            <form>
                <div class="form-group">
                    <input class="form-control" ng-model="query" type="text" placeholder="Filter by">
                </div>
                <div class="list-group">
                    <member-info member="member" ng-repeat="member in mainCtrl.members | filterByNames:'username':query"></member-info>
                </div>
            </form>
        </div>
    </div>

    <!-- Forms and other feedback content -->
    <div class="section">
        <div class="col-sm-6 col-md-5">
            <!-- Greeting -->
            <div ng-cloak>
                <img class="profile-pic" ng-src="{{mainCtrl.currentUser.photoURL}}" alt="profile picture">
                <span>{{mainCtrl.currentUser.displayName}}</span>
            </div>

            <!-- Feedback List -->

            <!-- TODO: move this to a template -->
            <h3>Feedback for you</h3>
            <feedback-message feedback="value" ng-repeat="(key, value) in feedbackReceived | archived:false" actions="A"></feedback-message>

            <!-- TODO: move this to a template -->
            <h3>Your Archived</h3>
            <feedback-message feedback="value" ng-repeat="(key, value) in feedbackReceived | archived:true" actions="A"></feedback-message>
           

            <h3>View the feedback you have given</h3>
            <feedback-message feedback="value" ng-repeat="(key, value) in mainCtrl.feedbackPosted" actions="ED"></feedback-message>
            <!-- Add this functionality + edit and delete -->

            <feedback-form></feedback-form>
        </div>
    </div>


    <!-- Company feedback -->
    <div class="section">
        <div class="col-md-4">
            Feedback for the company
        </div>
    </div>
</div>