<!-- Forms and other feedback content -->
<div class="section">
    <div class="col-sm-10 col-md-7 col-lg-5">
        <!-- Feedback List -->
        <h3>Feedback for you</h3>
        <feedback-message feedback="value" ng-repeat="(key, value) in feedbackReceived | archived:showArchived" actions="A"></feedback-message>
    </div>

    <div ng-click="toggleArchivedVisibility()">
        <span class="button-text" ng-show="showArchived">Hide archived</span>
        <span class="button-text" ng-hide="showArchived">Show archived</span>
    </div>
</div>